<div class="bs-example">
	<nav class="navbar navbar-expand-md navbar-light bg-light">
		<a href="#" class="navbar-brand">
			<img src="http://localhost:8080/products/api/image?name=logo" height="28" alt="RMI">
		</a>
		<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarCollapse">
			<div class="navbar-nav">
				<a routerLink="" (click)="customers()" class="nav-item nav-link">Manage Customers</a>
				<a routerLink="" (click)="complaint()" class="nav-item nav-link">Manage Complaints</a>
				<a href="#" class="nav-item nav-link">About Us</a>
			</div>
			<div class="navbar-nav ml-auto">
				<button (click)="logout()" class="btn btn-link">Logout</button>
			</div>
		</div>
	</nav>
</div>

<table class="table">
	<thead class="thead-light">
		<tr>
			<th scope="col">Customer Email</th>
			<th scope="col">Status</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let cust of customer">
			<td>{{cust.email}}</td>
			<td>
				<button class="btn btn-secondary dropdown-toggle" type="button"
					id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
					aria-expanded="false">Enabled</button>
				<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
					<a class="dropdown-item" >Enable</a> <a
						class="dropdown-item" >Disable</a>
				</div>
			</td>
		</tr>
	</tbody>
</table>